/* classes */

.blankTab {
    width: 25%;
}

.centerDiv {
    margin: auto;
}

.card:hover {
    box-shadow: 10px 10px 5px;
}

.cardTinyImage {
    height: 40%;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.homeImageCrop {
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.homeSect {
    padding-left: 0;
}

.homeSectRight {
    background-color: #E8E4E1;
    min-height: 100%;
}

.homeTextLarge {
    margin: 40% 3rem 2rem 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.homeTextSmall {
    margin: 2rem 1rem 2rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.layananCard {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.layananTab {
    margin-top: 1.2rem;
    padding-bottom: 3rem;
}

.layananTitle {
    margin-top: 3rem;
}

.nav-item {
    text-align: center;
}

.parent {
    display: flex;
}

.sectionHeadings {
    text-align: center;
}

.tinyImage {
    width: 100%;
}
