/* Elements */

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
}

p {
    margin: 0;
}


/* classes */

.achievementItems {
    text-align: center;
}

.achievementCol {
    background-color: white;
    height: 5rem;
    width: 18rem;
    margin: 1rem;
}

.bigRegisButton {
    position: absolute;
    /* top: 50%; */
    left: 50%;
}

.blankTab {
    width: 25%;
}

.centerDiv {
    margin: auto;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.cardTinyImage {
    height: 40%;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.clientCard {
    display: inline-flex;
    margin: 2rem;
}

.clientName {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}

.evenBG {
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.FontAwesomeLogo {
    font-size: 3rem;
}
.fa-solid {
    color: #30318B;
}

.homeImageCrop {
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.homeSect {
    padding-left: 0;
}

.homeSectRight {
    background-color: #E8E4E1;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.homeTextLarge {
    margin: 40% 3rem 2rem 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.homeTextSmall {
    margin: 2rem 1rem 2rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.layananCard {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.layananTab {
    margin-top: 1.2rem;
    padding-bottom: 3rem;
}

.nav-item {
    text-align: center;
}

.oddBG {
    background-color: #E8E4E1;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.parent {
    display: flex;
}

.parentRegis {
    position: relative;
}

.sectionHeadings {
    text-align: center;
}

.tinyImage {
    width: 100%;
}

.trainerCard {
    display: inline-flex;
    margin: 0.7rem;
    width: 15rem;
    height: 18rem;
    text-align: center;
}

.trainerMargin {
    margin-left: 10rem;
    margin-right: 10rem;
}