body {
    font-family: 'poppin', sans-serif;
}

h2 {
    text-align: center;
    padding-top: 5rem;
}

.cardTinyImage {
    height: 40%;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centerDiv {
    margin: auto;
    margin-bottom: 2rem;
}

.blankTab {
    width: 25%;
}

.card:hover {
    box-shadow: 10px 10px 5px;
}

.layananCard {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.layananTab {
    margin-top: 1.5rem;
    padding-bottom: 3rem;
}

.parent {
    display: flex;
}